body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #007bff, white ) no-repeat 100%;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white; /* White background for the container */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2 30px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    font-family: Brush Script MT;
    font-size:04em;
    color: #003366; /* Dark blue for the heading */
}
.tagline{
    text-align: center;
    margin-top: 4px;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #959595; /* Light grey border */
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff; /* Blue button */
    color: white; /* White text on button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Light grey border */
}

.task.completed {
    text-decoration: line-through;
    color: gray; /* Grey text for completed tasks */
}

#completionPercentage {
    font-weight: bold;
    margin-top: 10px;
    color: #003366; /* Dark blue for completion percentage */
}
footer{
    text-align: center;
}
/* Responsive Styles */
@media (max-width: 768px) {
    input[type="text"] {
        width: calc(100% - 80px); /* Adjust width for smaller screens */
        margin-right: 5px; /* Reduce margin */
    }

    button {
        padding: 8px; /* Smaller button padding */
    }

    .task {
        flex-direction:row; /* Stack task elements vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .task button {
        margin-top: 5px; /* Add margin for buttons in tasks */
    }
    #languageSelector{
        margin-top: 7px;
    }
    #taskList{
        margin-top
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; /* Smaller heading on very small screens */
    }

    .tagline {
        font-size: 0.9em; /* Smaller tagline */
    }

    input[type="text"] {
        width: calc(100% - 20px) ; /* Full width on very small screens */
        margin-right: 0; /* Remove margin */
        height: 4vh;
    }

    button {
        width: 100%; /* Full width buttons */
        margin-top: 5px; /* Add margin for spacing */
        height: 4vh;
    }

    #completionPercentage, #rewards {
        font-size: 0.9em; /* Smaller font size for completion and rewards */
    } 
    #languageSelector{
        margin-top: 7px;
    }
}